*{
    margin: 5px;
    padding: 5px;
    /* font-family: ; */
}
.header{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.mepic{width: 400px;
display: block;
margin-left:auto;
margin-right: auto;}
.father{width: 800px;
margin-left:auto;
margin-right: auto;
display: block;}
h1{
    color: #DC143C;
    font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.icons{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    /* grid-template-rows: 100px; */
    width:75px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;

}
body{
    background-image: linear-gradient(rgba(238, 238, 245, 0.534), rgb(248, 6, 6));
}
.screens{
    width: 400px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 7, 7);
    color: white;
    text-align: center;
}
.bio{
    background-color: rgba(65, 56, 53, 0.397);
}
.skills{
    background-color: rgba(65, 56, 53, 0.397);
}
.project1{
    background-color: rgba(65, 56, 53, 0.397);
}
.project2{
    background-color: rgba(65, 56, 53, 0.397);
}
.aboutme {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(65, 56, 53, 0.397);
  }
  
  li {
    float: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(247, 7, 7);

    